html, body {
    padding: 0;
    margin: 0;
    height: 100%;

    background-color: #1c1c1c;
    color: #cccccc;
}

footer {
    margin-top: 4em;
    padding-bottom: 20px;
}

.btn-close {
    right: 0;
}

.nav-item {
    margin-right: 16px;
}